
2D_programming_class/.vs/SDL_intro/v15/Browse.VC.db
2D_programming_class/.vs/SDL_intro/v15/.suo
2D_programming_class/.vs/SDL_intro/v15/Browse.VC.opendb
2D_programming_class/.vs/SDL_intro/v15/Browse.VC.db
2D_programming_class/Screen__/.vs/Screen__/v15/Browse.VC.opendb
*.db
